<p>Hello <%= @customer_name %>,</p>
<br>

<p>Here's your password: <%= @generated_password %>.</p>
<br>

<p>Welcome to PocketSOHO!</p>
<p>Click <%= link_to("here", new_user_session_path) %> to sign in. :)</p>
<br>

<p>Sincerely,</p>
<p>Team PocketSOHO</p>
