<p>Hello <%= @customer_name %>,</p>
<br>

<p>Here's your password: <%= @generated_password %>.</p>
<br>

<p>Welcome to PocketSOHO!</p>
<p>Click the link below to sign in. :)</p>
<a href="http://pocketsoho.herokuapp.com/users/sign_in">http://pocketsoho.herokuapp.com/users/sign_in</a>
<br>

<p>Sincerely,</p>
<p>Team PocketSOHO</p>
