/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 1, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/business.css.scss */
#biz-profile {
  text-align: center;
}
/* line 3, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/business.css.scss */
#biz-profile .user-content {
  margin-left: 30px;
}
/* line 7, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/business.css.scss */
#biz-profile .biz-title {
  position: relative;
  margin-right: 0px;
}
/* line 12, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/business.css.scss */
#biz-profile .biz-img {
  height: 164px;
  margin: 18px 0px 24px 0px;
}
/* line 17, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/business.css.scss */
#biz-profile .biz-owner-img {
  height: 100px;
}
/* line 21, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/business.css.scss */
#biz-profile .location {
  font-weight: bold;
}
/* line 25, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/business.css.scss */
#biz-profile .description {
  width: 60%;
  margin: 0 auto;
  padding: 15px;
}
/* line 1, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/main.css.scss */
#user-nav-bar {
  float: right;
  margin-top: 3px;
  margin-right: 22px;
  font-size: 20px;
}

/* line 9, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/main.css.scss */
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* line 12, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/main.css.scss */
body p, body td {
  font-family: 'Open Sans Condensed', sans-serif;
}
/* line 3, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox .user-content {
  margin-left: 30px;
}
/* line 7, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox .banner {
  position: relative;
  margin-right: 0px;
  width: 200px;
}
/* line 13, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox table, #inbox tr {
  border: 1px solid black;
  width: 85%;
}
/* line 18, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox table tr.msg-row, #inbox tr tr.msg-row {
  height: 58px;
}
/* line 22, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox table tr .msg-sender-col, #inbox tr tr .msg-sender-col {
  width: 25%;
  padding: 0px 20px 0px 24px;
}
/* line 28, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox table tr .msg-date-col, #inbox tr tr .msg-date-col {
  width: 20%;
}
/* line 32, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox table tr .msg-text-col, #inbox tr tr .msg-text-col {
  width: 79%;
  padding-right: 64px;
}
/* line 41, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#inbox input#convos_results {
  position: absolute;
  margin: -40px 0px 0px 175px;
}

/* line 50, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#no-messages {
  position: absolute;
  top: 30%;
  left: 39%;
  display: none;
}

/* line 60, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo .user-content {
  margin-left: 30px;
}
/* line 64, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo .banner {
  position: relative;
  margin-right: 0px;
  width: 500px;
}
/* line 70, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo .user-img {
  height: 50px;
  margin: 0px 0px 24px 6px;
}
/* line 75, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo table, #show-convo tr {
  width: 85%;
}
/* line 79, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo table tr.msg-row, #show-convo tr tr.msg-row {
  height: 58px;
}
/* line 83, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo table tr .msg-sender-col, #show-convo tr tr .msg-sender-col {
  width: 14%;
  padding: 0px 20px 0px 24px;
}
/* line 89, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo table tr .msg-date-col, #show-convo tr tr .msg-date-col {
  width: 15%;
  font-size: 11px;
}
/* line 94, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo table tr .msg-text-col, #show-convo tr tr .msg-text-col {
  width: 79%;
  padding: 11px;
}
/* line 103, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo .new-thread-msg {
  margin-top: 20px;
}
/* line 106, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo .new-thread-msg textarea {
  width: 85%;
  height: 120px;
  resize: none;
}
/* line 112, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/messaging.css.scss */
#show-convo .new-thread-msg input[type=submit] {
  margin-left: 40%;
}
/* line 3, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table, #appointments-list tr {
  border: 1px solid black;
  width: 85%;
  margin-top: 3px;
}
/* line 10, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr.biz-row, #appointments-list tr tr.biz-row {
  height: 85px;
}
/* line 14, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .biz-name-col, #appointments-list tr tr .biz-name-col {
  padding-left: 24px;
  width: 20%;
}
/* line 22, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .biz-edit-col, #appointments-list tr tr .biz-edit-col {
  width: 79%;
  text-align: right;
  padding-right: 64px;
}
/* line 29, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr.msg-row, #appointments-list tr tr.msg-row {
  height: 58px;
}
/* line 33, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .msg-sender-col, #appointments-list tr tr .msg-sender-col {
  width: 25%;
  padding: 0px 20px 0px 24px;
}
/* line 39, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .msg-date-col, #appointments-list tr tr .msg-date-col {
  width: 20%;
}
/* line 43, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .msg-text-col, #appointments-list tr tr .msg-text-col {
  width: 79%;
  padding-right: 64px;
}
/* line 49, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr.appt-row, #appointments-list tr tr.appt-row {
  height: 58px;
}
/* line 53, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .appt-date-col, #appointments-list tr tr .appt-date-col {
  width: 15%;
  padding: 0px 20px 0px 24px;
}
/* line 59, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .appt-time-col, #appointments-list tr tr .appt-time-col {
  width: 13%;
}
/* line 63, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list table tr .appt-details-col, #appointments-list tr tr .appt-details-col {
  width: 64.5%;
  padding-right: 64px;
}
/* line 72, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list .banner {
  position: relative;
  margin-right: 0px;
  width: 500px;
}
/* line 79, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list .user-content {
  margin-left: 30px;
}
/* line 82, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list .user-content .biz-img {
  width: 60px;
}
/* line 86, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list .user-content .create-new {
  margin: -30px 0px 0px 177px;
}
/* line 91, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#appointments-list #no-appts {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

/* line 105, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
.calendar {
  border-collapse: collapse;
  width: 100%;
}
/* line 109, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
.calendar td, .calendar th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}
/* line 116, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
.calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}
/* line 123, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
.calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}
/* line 131, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
.calendar .notmonth, .calendar .notmonth a {
  color: #CCC;
}
/* line 132, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
.calendar .today {
  background-color: #D7F2FF;
}

/* line 135, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
}
/* line 140, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#month a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

/* line 150, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content {
  margin-left: 30px;
}
/* line 153, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .appt-header {
  display: inline-block;
}
/* line 157, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .appt-img {
  width: 250px;
  float: right;
  margin-top: -35%;
}
/* line 163, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .banner {
  position: relative;
  margin-right: 0px;
  width: 500px;
}
/* line 168, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .banner button {
  margin-left: 8px;
}
/* line 172, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .banner h5 {
  margin-top: -2px;
}
/* line 177, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .appt-details {
  width: 500px;
  margin: 0 auto;
  margin-top: 7%;
}
/* line 182, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .appt-details span.note-attr {
  font-size: 20px;
}
/* line 186, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .appt-details #appt-notes {
  width: 235px;
}
/* line 191, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .upcoming-appts {
  width: 500px;
  margin: 0 auto;
  margin-top: 115px;
  text-align: center;
  border: dotted 2px black;
  padding-bottom: 12px;
}
/* line 199, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content .upcoming-appts #links {
  width: 200px;
  margin: 0 auto;
}
/* line 205, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/scheduling.css.scss */
#indiv-appt .user-content #message-user-btn {
  margin-bottom: 7px;
}
/* line 1, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/users.css.scss */
#user-profile {
  text-align: center;
}
/* line 3, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/users.css.scss */
#user-profile .user-content {
  margin-left: 30px;
}
/* line 7, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/users.css.scss */
#user-profile .banner {
  text-align: left;
}
/* line 10, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/users.css.scss */
#user-profile .banner h2 {
  margin: -6px 0px 0px -3px;
}
/* line 15, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/users.css.scss */
#user-profile .user-img {
  height: 164px;
  margin: 18px 0px 24px 0px;
}
/* line 20, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/users.css.scss */
#user-profile .user-info {
  padding-top: 9px;
}
/* line 24, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/users.css.scss */
#user-profile #email {
  padding-left: 26px;
}
/* line 3, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table, #welcome-home tr {
  border: 1px solid black;
  width: 85%;
  margin-top: 3px;
}
/* line 10, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr.biz-row, #welcome-home tr tr.biz-row {
  height: 85px;
}
/* line 14, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .biz-name-col, #welcome-home tr tr .biz-name-col {
  padding-left: 24px;
  width: 20%;
}
/* line 22, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .add-cust-col, #welcome-home tr tr .add-cust-col {
  padding-left: 4%;
  width: 20%;
}
/* line 27, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .biz-edit-col, #welcome-home tr tr .biz-edit-col {
  width: 79%;
  padding-left: 64px;
}
/* line 33, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .biz-slogan-col, #welcome-home tr tr .biz-slogan-col {
  width: 79%;
  text-align: right;
  padding-right: 64px;
}
/* line 40, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr.msg-row, #welcome-home tr tr.msg-row {
  height: 58px;
}
/* line 44, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .msg-sender-col, #welcome-home tr tr .msg-sender-col {
  width: 25%;
  padding: 0px 20px 0px 24px;
}
/* line 50, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .msg-date-col, #welcome-home tr tr .msg-date-col {
  width: 20%;
}
/* line 54, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .msg-text-col, #welcome-home tr tr .msg-text-col {
  width: 79%;
  padding-right: 64px;
}
/* line 60, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr.appt-row, #welcome-home tr tr.appt-row {
  height: 58px;
}
/* line 64, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .appt-date-col, #welcome-home tr tr .appt-date-col {
  width: 15%;
  padding: 0px 20px 0px 24px;
}
/* line 70, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .appt-time-col, #welcome-home tr tr .appt-time-col {
  width: 13%;
}
/* line 74, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home table tr .appt-details-col, #welcome-home tr tr .appt-details-col {
  width: 64.5%;
  padding-right: 64px;
}
/* line 83, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home .banner {
  position: relative;
  margin-left: 30px;
  margin-right: 0px;
  width: 100px;
}
/* line 91, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home #user-home-categories {
  margin-left: 30px;
  margin-top: 44px;
}
/* line 95, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home #user-home-categories .biz-img {
  width: 60px;
}
/* line 99, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home #user-home-categories .create-new-biz {
  margin: -30px 0px 0px 177px;
}
/* line 103, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home #user-home-categories .create-new-appt {
  margin: -30px 0px 0px 326px;
}
/* line 107, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_home.css.scss */
#welcome-home #user-home-categories .sync-cal {
  margin: -20px 0px 0px 425px;
  position: absolute;
}
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
/* line 1, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info {
  text-align: center;
}
/* line 4, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info .navbar-fixed-top.custom {
  background-color: white;
}
/* line 7, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info .navbar-fixed-top.custom .logo {
  font-weight: bold;
}
/* line 10, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info .navbar-fixed-top.custom .logo a {
  color: black;
  text-decoration: none;
}
/* line 17, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info .navbar-nav {
  display: inline-block;
  float: right;
  z-index: 500;
  font-size: 18px;
  width: 78%;
}
/* line 24, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info .navbar-nav li {
  padding-right: 9%;
}
/* line 29, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info .section {
  padding-bottom: 10%;
  font-size: 24px;
}
/* line 33, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info .section p {
  color: gray;
}
/* line 38, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info #splash {
  background-image: url("splash2.jpg");
  height: 450px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 48px;
  color: white;
  z-index: 2;
}
/* line 47, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info #splash #splash-signup {
  z-index: 5;
  color: #494848;
  position: absolute;
  top: 30%;
  left: 30%;
}
/* line 56, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info #welcome-content {
  margin-top: 1%;
  width: 55%;
  text-align: center;
  z-index: 2;
}
/* line 62, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info #welcome-content h3 {
  font-size: 40px;
  font-weight: bold;
}
/* line 67, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
#welcome-info #welcome-content i {
  font-size: 38px;
  padding-right: 2px;
}

/* line 80, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap button {
  padding-right: 45px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 205px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
}

/* line 101, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
button#facebook {
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

/* line 106, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
button#twitter {
  border-color: #007aa6;
  background-color: #008cbf;
  background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}

/* line 111, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
button#googleplus {
  border-color: #111;
  background-color: #222;
  text-shadow: #333 -1px -1px 0;
  background-image: url(http://i.tinyuploads.com/KBZc6n.png);
}

/* line 117, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap button:active {
  background-color: #222;
}

/* line 120, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.b button {
  padding-right: 45px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 25px 25px, cover;
  background-position: 170px center, center center;
  background-repeat: no-repeat, repeat;
  border-radius: 4px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 205px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, 0.4) -1px -1px 0;
}

/* line 143, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.b > .googleplus {
  background-size: 30px 30px, cover;
  background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
}

/* line 148, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.b > .facebook {
  background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
  background-size: 25px 25px, cover;
  background-position: 170px center, center center;
  background-repeat: no-repeat, repeat;
}

/* line 154, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.b > .twitter {
  background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
}

/* line 158, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.b button em {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Times New Roman";
  margin-right: 4px;
  margin-left: 4px;
}

/* line 165, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.c button {
  padding-left: 35px;
  padding-right: 0px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 25px 25px, cover;
  background-position: 10px center, center center;
  background-repeat: no-repeat, repeat;
  border-radius: 4px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 205px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, 0.4) -1px -1px 0;
}

/* line 189, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.c > .googleplus {
  background-size: 30px 30px, cover;
  background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
}

/* line 194, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.c > .facebook {
  background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
  background-size: 25px 25px, cover;
  background-position: 10px center, center center;
  background-repeat: no-repeat, repeat;
}

/* line 200, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.c > .twitter {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #007bb6), color-stop(99%, #007bb6));
}

/* line 204, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
div.social-wrap.c button em {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Times New Roman";
  margin-right: 4px;
  margin-left: 4px;
}

/* line 211, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
ul.sm-wrap {
  list-style-type: none;
  padding: 0px;
}

/* line 215, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
ul.sm-wrap li {
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  margin-bottom: 10px;
  padding-left: 20px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

/* line 223, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
ul.sm-wrap li#facebook-sm {
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

/* line 226, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
ul.sm-wrap li#twitter-sm {
  background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}

/* line 229, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
ul.sm-wrap li#gplus-sm {
  background-image: url(http://i.tinyuploads.com/KBZc6n.png);
}

/* line 233, /Users/janetyi/github/PocketSOHO/app/assets/stylesheets/welcome_info.css.scss */
ul.sm-wrap a {
  text-decoration: none;
}
