<div id="inbox" ng-controller="inboxController">
  <div class="user-content">

    <div class="banner"><h1>My Inbox</h1></div>
    <% if @recent_conversations.length != 0 %>
    <%= link_to "Create New Message", new_user_conversation_path(@user.id) %>
    <% end %>

    <input type="search" placeholder="Search messages" id="inbox-searchbar" ng-model="searchWords">

    <div id="no-messages" ng-style=" { 'display': noResults((messages | filter: searchWords).length) }">No Messages. Click <%= link_to "here", new_user_conversation_path(@user.id) %> to create a message. </div>

    <div id="message-list" >

      <table>
           <tr class="msg-row" ng-repeat="message in messages | filter: searchWords" ng-style="{ 'font-weight': getReadStatus(message) }">

            <td class="msg-sender-col">{{message.sender_name}}</td>
            <td class="msg-date-col">{{message.formatted_updated_at}}</td>

            <td class="msg-text-col">
              <a href="/users/{{message.sender_id}}/conversations/{{message.conversation_id}}" >
              {{message.abbrev_text}}
           </a>
            </td>

          </tr>
      </table>
    </div>

  </div>
</div>
