<div class="user-content">
  <h1>Conversation with <%= @recipient_name %></h1>
  <table>
    <% @conversation_messages.each do |message| %>
      <% if message.sender_id == @user.id %>
        <tr style="background-color: lightgrey">
      <% else %>
        <tr style="background-color: lightblue">
      <% end %>
        <td>
          <%= message.text %>
          <%= message.created_at %>
        </td>
      </tr>
    <% end %>
  </table>

<%= render partial: 'new_thread_msg' %>
</div>
