<div class="newmessage-content content">

    <div class="container">

      <div class="row">

        <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 ">

          <div class="portlet">

            <h2 class="portlet-title">
                <u>Update Your Password</u>
            </h2>

            <% if @user.sign_in_count == 1 %>
              <h5>Please Change Your Password</h5>
            <% end %>

            <p>Please note that once you change your password you will be signed out and will need to sign in again with your new password.</p>
            <br>

            <div class="portlet-body">

              <div class="form-group">

                <%= simple_form_for @user, url: { action: "update_password"} do |f| %>
                  <%= f.input :password, input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' }  %>
                  <%= f.input :password_confirmation, input_html: {class: 'form-control'}, wrapper_html: { class: 'form-group' }  %>
                  <div class="form-group">
                    <%= f.button :submit, "Submit", class: 'btn btn-primary', id: 'update-appt' %>
                  </div>
                <% end %>
              </div> <!-- /.form-group -->

            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->



  </div> <!-- .content -->
  <% javascript_include_tag "welcome" %>
