<div id="welcome-home">
	<div class="user-content">
	  <div class="banner"><h1>PocketSOHO</h1></div>

	  <div id="user-home-categories">
	    <h3>My New Messages</h3>
	    <% if @unread_conversations.empty? %>
	      <p>You have no new messages! Click <%= link_to "here", user_conversations_path(@user.id) %> to view your inbox.</p>
	    <% else %>
	    	<%= render partial: 'unread_messages' %>
	    <% end %>

	    <% if @user.type == "BusinessOwner" %>
	      <%= render :partial => 'businesses' %>
	    <% else %>
	      <%= render :partial => 'services' %>
	    <% end %>

	    <h3>My Upcoming Appointments</h3>
	    <a href="#">See All Appointments</a>

	    <h3>My Finances</h3>
	    <p>(Graph)</p>
	  </div>
	</div>
</div>

<!-- headings:
name
my services
new message
schedule
finances + graph

 -->
