<!DOCTYPE html>
<html>
<head>
	<title>PocketSOHO - Sign Up Now!</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700' rel='stylesheet' type='text/css'>

	<%= javascript_include_tag 'main' %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
	<div id="welcome-info">
		<div class="navbar navbar-fixed-top custom" role="navigation">
			<div class="container">
			<div class="logo"><a href="#"><h1>PocketSOHO</h1></a></div>
				<ul class="nav navbar-nav">
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#why-us">WHY US?</a></li>
					<li><a href="#connect">CONNECT</a></li>
					<li id="log-in"><a href="/users/sign_in">LOG IN</a></li>
				</ul>
			</div>
		</div>
		<div id="splash">
			<div id="splash-signup">
				<p><i class="fa fa-calendar"></i> Schedule appointments with ease</p>
				<p><i class="fa fa-envelope-o"></i> Send messages to your clients</p>
				<p><i class="fa fa-usd"></i> GET PAID!</p>
			</div>
		</div>
		<div class="container" id="welcome-content">
			<div class="section" id="about">
				<h3>About</h3>
				<p>Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth. </p>
			</div>

			<div class="section" id="why-us">
				<h3>Why Us</h3>
				<p>Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms. Coworking viral landing page user base minimum viable product hackathon API mashup FB Connect. </p>
			</div>

			<div class="section" id="connect">
				<h3>Connect</h3>
				<p>Connect with us! :) </p>
				<p>
					<a href="#"><i class="fa fa-facebook-square"></i></a>
					<a href="#"><i class="fa fa-linkedin-square"></i></a>
					<a href="#"><i class="fa fa-google-plus-square"></i></a>
					<a href="#"><i class="fa fa-phone-square"></i></a>
					<a href="#"><i class="fa fa-envelope-square"></i></a>
				</p>
			</div>


		</div>
	</div>


	<footer>

	</footer>
</body>
</html>
