/* Setting Color Palette*/
/* Font*/
/* Setting Background Image*/
/* BoxShadow Prefix*/
/* Sign Up Button*/
/* Mobile Menu*/
/* BODY*/
/* ----------------------------------------------- */
a {
  color: #8CC640; }

/* NAV-BAR*/
/* ----------------------------------------------- */
#logo {
  width: 90%;
  padding-top: 17px; }

.navbar {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.navbar-inverse {
  position: fixed;
  z-index: 100 !important;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: none; }

.navbar-inverse .navbar-nav > li > a {
  color: #8CC640;
  text-shadow: none; }

.account-wrapper {
  padding-top: 80px; }

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #567b25; }

.navbar-collapse.in {
  background-color: #1B2846; }

/*.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:active,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #8CC640;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #8CC640;
}*/
/* Account SignUp*/
/* ----------------------------------------------- */
#account-signup {
  background: url(photos/pianoteacher.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#account-login {
  background: url(photos/working.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#reset-password {
  background: url(photos/personaltrainer.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }


#social-login {
  background: url(photos/makeup-artist.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.account-or-social {
  color: #444444; }

.account-wrapper {
  padding-bottom: 0; }

.account-body {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0; }

.account-body h3 {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

#account-login .account-body h5 {
  color: #F48A1F; }

#reset-password .account-body {
  top: 13em; }

#reset-password .account-body h2 {
  color: #FFFFFF; }

#reset-password .form-group a {
  color: #1B2846;
  font-size: 14px; }

.account-body h5 {
  color: #1B2846; }

#account-login .account-footer p {
  color: #1B2846; }

#account-login .account-footer p a {
  color: #8CC640; }

.account-footer p {
  color: #FFFFFF;
  font-size: 16px; }

.account-footer p a {
  color: #F48A1F;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 16px; }

.btn-primary,
.btn-secondary {
  padding: 0.6em 2em;
  font-size: 20px;
  line-height: 1.5;
  background-color: #8CC640;
  border: 1px solid #8CC640;
  text-shadow: none;
  box-shadow: none; }

.btn-secondary,
.btn-primary {
  background-color: #8CC640;
  border: 1px solid #FFFFFF;
  color: #FFFFFF; }

.btn-secondary:hover,
.btn-primary:hover {
  background-color: #F48A1F;
  border: 1px solid #FFFFFF; }

.checkbox-inline input[type=submit]:focus,
.form-group button[type=submit]:focus {
  outline: none; }

.checkbox-inline {
  color: #1B2846; }

.checkbox-inline a {
  color: #1B2846; }

.checkbox-inline a:hover {
  color: #8CC640; }

#back-to-top {
  background-color: rgba(140, 198, 64, 0.6); }

#back-to-top:hover {
  background-color: #8CC640; }

.pull-left small {
  color: #FFFFFF;
  font-size: 13px; }

.pull-right small a {
  color: #8CC640;
  font-size: 13px; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle.is-open {
  background-color: #8CC640; }

.btn-twitter {
  background-color: #1e87bd;
  border: 1px solid #176891; }

/* Form Validation*/
/* ----------------------------------------------- */
.mainnav {
  padding-top: 5em;
  background-color: #1B2846; }

.badge {
  background-color: #F48A1F; }

.fa-search {
  color: #8CC640; }

.noticebar-empty-title {
  color: #F48A1F; }

.btn-danger {
  background-color: #F48A1F;
  border-radius: 0;
  border-color: #F48A1F; }

.btn-danger:hover {
  background-color: #d6700a;
  border-color: #d6700a; }

.copyright {
  color: #8CC640; }

.footer {
  background-color: #1B2846;
  border-top: 0;
  position: relative;
  width: 100%;
  bottom: -90px;
}

.mainnav-collapse input[type=text]:focus {
  background-color: #FFFFFF;
  width: 100%;
  padding: 3px 10px 3px 5px;
  margin: 0; }

.text-primary {
  color: #F48A1F; }

.error-details .input-group .form-control:first-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.error-details .input-group .btn-secondary {
  margin-left: 5px;
  padding: 2px 20px;
  vertical-align: middle;
  border-radius: 20px; }

.error-details .input-group .btn-secondary .fa-search {
  color: #FFFFFF; }

/* Admin - Index - Main Dashboard*/
/* ----------------------------------------------- */
.fa-home {
  font-size: 1.2em; }

.nav li a.hello {
  font-size: 1.3em; }

.message-content,
.newmessage-content,
.profile-content,
.setting-content,
.pricing-content,
.dashboard-content,
.appt-content,
.error-content,
.newappt-content {
  padding-top: 10em; }

.message-content h3 u,
.appt-content h3 u {
  font-size: 1.5em;
  font-family: "Open-Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700; }

.thumbnail {
  width: 80px;
  height: 80px;
  margin: auto;
}

.biz-owner-img {
  margin-left: 15px;
}

.sender {
  padding: 3px 0;
  text-align: center; }

td {
  height: 110px; }

.message-action .btn-primary,
.message-action .btn-secondary {
  padding: 0.15em 0.55em; }

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #F48A1F;
  border-color: #F48A1F; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #71a330;
  border-color: #71a330; }

#chaticon,
#appticon {
  width: 100px;
  padding-right: 1em; }

.biz-img {
  display: block;
  margin: auto;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.content-title {
  border-bottom: 0; }

a.new-ms {
  padding: 0.4em 2em;
  border: 1px solid #8CC640;
  background-color: #8CC640; }

.new-chat {
  font-size: 18px;
  font-weight: 700;
  padding: 1.2em; }

.new-chat a {
  color: #FFFFFF; }

.new-chat a:hover {
  background-color: #d3e9b6;
  color: #567b25; }

.send-button {
  padding: 0.3em 6em;
  font-size: 16px;
  background-color: #F48A1F;
  /*border: 1px solid $mainColor2;*/
  color: #FFFFFF;
  text-shadow: 0 0 0; }

.valign-middle {
  padding-left: 5px; }

#newbiz-btn,
#newcustomer-btn {
  font-size: 16px;
  padding: 0.3em 1em;
  margin-bottom:20px;
}

.pagination {
  list-style: none; }

.page-right {
  padding-right: 10px; }

.pagination > li > a:hover,
.pagination > li > a:active {
  background-color: #8CC640; }

.dashboard-content .icons-list > li {
  padding-left: 0; }

/* Appointments Page*/
/* ----------------------------------------------- */
.appt-title {
  padding-top: 1.2em; }

.appt-title u {
  border-bottom: 1px solid #F48A1F; }

.alert-info {
  margin-top: 60px;
  position: absolute;
  background-color: #ffd400;
  border: 1px solid #ffd400;
  font-size: 15px;
  height: 33px;
  width: 100%;
  z-index: 90;
  text-align: center;
 }

.appt-tomorrow {
  background-color: #b3b3b3;
  border: 1px solid #b3b3b3; }

a.appt-biz,
a.appt-edit {
  color: #FFFFFF;
  padding-left: 10px; }

a.appt-biz:hover,
a.appt-edit:hover {
  color: #1B2846; }

.fa-calendar-o {
  padding-right: 5px; }

.fa-usd {
  padding-left: 10px; }

.appt-time-table td {
  height: 60px;
  padding-right:15px;
}

#date {
  width: 300px;
}

#time {
  width: 230px;
}

/* Error Page*/
/* ----------------------------------------------- */
.error-page {
  background: url(photos/berries.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.error-details {
  padding-top: 20px; }

.error-code {
  font-size: 60px;
  color: #1B2846;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Open-Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

.error-message {
  font-size: 1.2em; }

.pocketsoho-home {
  color: #567b25; }

.pocketsoho-home:hover {
  color: #f9bd80; }

.oops {
  color: #F48A1F;
  font-size: 2.2em; }

#calendar {
  width: 100%;
  margin: 0 auto; }

.appointment-types {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.change-password,.appointment-types button {
  padding: 5px;
  margin-right:5px;
  font-size: 12px;
  width: 70px;
  position: relative;
  top: 20px;
}

.change-password {
  width: 115px;
}

.appointment-types .today {
  background-color: #F48A1F;
}

.appointment-types li {
  display: inline;
}

.appts-tomorrow, .appts-all {
  display: none;
}


/* Admin - User Setting Page - Main Dashboard*/
/* ----------------------------------------------- */
.nav-layout-sidebar > .active > a {
  color: #F48A1F; }

.nav-layout-sidebar > .active > a:hover {
  color: #8CC640; }

#sidebar-menu {
  z-index: 1; }

#save-change,
#save-change1,
#save-change2 {
  padding: 0.4em 1.4em; }

#cancel-change,
#cancel-change1,
#cancel-change2 {
  padding: 0.9em 4.4em; }

.pricing-plan-amount {
  color: #8CC640; }

.btn-primary.disabled {
  background-color: #F48A1F;
  border-color: #F48A1F; }

.pricing-plan-ribbon-secondary {
  background-color: #F48A1F; }

.pricing-header {
  background-color: #1B2846; }

.brief-instr {
  font-size: 12px; }

.recipient:hover {
  color: #F48A1F; }

.message-box {
  padding: 1.5em 0;
  background-color: #EEEEEE;
  margin-bottom: 1.5em; }

.message-box.owner {
  background-color: #ebf5dd; }

.message-box ul {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 10px; }

.newbiz #save-change,
.editbiz #save-change {
  padding: 0.4em 2.4em; }

.newcust #save-change,
.editbiz #save-change {
  font-size: 17px;
  margin-bottom: 2em;
  margin-right: 2em; }

.newcust #cancel-change {
  padding: 0.6em 10.4em; }

.editbiz #cancel-change {
  padding: 0.6em 4em; }

.bizprofile.profile-avatar-img {
  margin-left: 0; }

.icons-list .client-name a {
  font-size: 16px; }

.chat-btn.btn-secondary {
  font-size: 16px; }

#validateSelect.year,
#validateSelect.month,
#validateSelect.day,
.appt-time {
  width: 90px; }

#demo-validation #validateSelect,
.appt-time {
  display: inline;
  font-size: 10px;
  margin: 4px;
}

#update-appt,
#delete-appt {
  font-size: 15px;
  padding: 6px 10px; }

.portlet {
  margin-bottom: 1.5em; }

.dashboard-content .content-title.my-appt {
  margin-top: 3em; }

/* Admin - Feature 2: APPOINTMENTS*/
/* ----------------------------------------------- */
.appt-with a:hover {
  color: #F48A1F;
  text-decoration: none; }

.appt-with .btn {
  font-size: 16px;
  padding: 0.7em 3em; }

.appt-with .btn:hover {
  color: #FFFFFF; }

.appt-with ul {
  padding-left: 0; }

.appt-with ul li {
  display: inline-block;
  padding: 0 10px; }

.appt-with .form-horizontal {
  margin-top: 4em; }

#sam-biz {
  font-size: 1.2em; }

.fa-envelope,
.fa-clock-o,
.fa-pencil-square {
  padding-right: 10px; }

.appt-form-group ul li {
  font-size: 14px;
  font-weight: 400; }

.appt-form-group a,
.appt-form-group span {
  padding-left: 10px; }

#customer-pic {
  padding-left: 0; }

.accordion-caret:before {
  color: #F48A1F; }

#appt-list li {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
}

#appt-list li {
  display: inline-block;
  font-size: 14px;
  padding-right: 10px;
}

#appt-list li a {
  color: #444444; }

#appt-list li a:hover {
  color: #F48A1F; }

#table-2 th {
  background-color: #F48A1F;
  color: #FFFFFF; }

#table-3 th,
#table-4 th {
  background-color: #5e5e5e;
  color: #FFFFFF; }

#table-2 td,
#table-3 td,
#table-4 td {
  height: 50px; }

.edit-appt a {
  color: #F48A1F; }

.edit-appt a:hover {
  color: #1B2846;
  text-decoration: none; }

#newappt-btn {
  width: 160px;
  font-size: 16px;
  padding: 0.4em 0;
  background-color: #F48A1F;
  margin-left: 80px;
}

#newappt-btn:hover {
  background-color: #df760b;
  border-color: #df760b; }

.newappt-content label.bizlabel {
  padding-left: 0; }

  #newmsg-btn {
  width: 160px;
  font-size: 16px;
  padding: 0.4em 0;
  background-color: #8CC640;
  margin-left: 80px;
}

  #newmsg-btn:hover {
  background-color: #8CC640;
  border-color: #8CC640;
}

div#no-messages #newappt-btn {
  margin: 0 auto;
}

/* Admin - Feature 3: FINANCES*/
/* ----------------------------------------------- */

.invoice-types {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.invoice-types button {
  padding: 5px;
  margin-right:10px;
  font-size: 15px;
  width: 90px;
}

.invoice-types li {
  display: inline;
}

.invoice-types .unpaid {
  background-color: #F48A1F;
}

.paid-invoices {
  display: none;
}

.finance-td #table-2 th {
  background-color: #8CC640;
  color: #FFFFFF; }

.finance-td {
  margin-top: 4em; }

@media (max-width: 767px) {
  #logo2,
  #logo3 {
    width: 40px; }

  #logo3 {
    display: none; }

  .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.9); }

  .navbar-inverse .navbar-toggle.is-open {
    background-color: rgba(255, 255, 255, 0.9); }

  .mainnav-form {
    border-top: 0;
    border-bottom: 0; }

  #logo {
    width: 50%;
    padding-top: 20px; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    cursor: pointer;
    color: #f6a350; }

  .avatar-img {
    width: 60px !important; }

  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: normal; } }
@media (max-width: 480px) {
  .navbar-header a {
    width: 230px; }

  #logo {
    width: 50%;
    padding-top: 20px; }

  .account-body h3 {
    font-size: 20px; }

  .account-footer p,
  .account-footer p a {
    font-size: 12px; }

  .checkbox-inline a {
    font-size: 12px; }

  .btn-primary,
  .btn-secondary {
    padding: 0.3em 2em; }

  #account-login .account-footer p {
    color: #CCCCCC; }

  #account-signup {
    background: url(photos/mobile-piano.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #account-login {
    background: url(photos/mobile-working.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #reset-password {
    background: url(photos/mobile-trainer.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #social-login {
    background: url(photos/makeup-mobile.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #reset-password .account-body {
    top: 7em; }

  .dropdown-menu > li > a {
    color: #CCCCCC; } }
