#user-nav-bar {
  float: right;
  margin-top: 3px;
  margin-right: 22px;
  font-size: 20px;

}

  .user-content {
    margin-left: 30px;
  }

  .banner {
    position: relative;
    margin-right: 0px;
    width: 400px;
  }


