#inbox {

	.user-content {
		margin-left: 30px;
	}

	.banner {
		position: relative;
		margin-right: 0px;
		width: 200px;
	}

	table, tr {
		border: 1px solid black;
		width: 85%;

		tr {
			&.msg-row {
				height: 58px;
			}

			.msg-sender-col {
				width: 25%;
				padding: 0px 20px 0px 24px;

			}

			.msg-date-col {
				width: 20%;
			}

			.msg-text-col {
				width: 79%;
				padding-right: 64px;

			}

		}
	}
}
