#user-profile{
  text-align: center;
  .user-content {
    margin-left: 30px;
  }

  .banner {
    text-align: left;

    h2 {
      margin: -6px 0px 0px -3px;
    }
  }

  .user-img {
    height: 164px;
    margin: 18px 0px 24px 0px;
  }

.user-info {
  padding-top: 9px;
}

#email {
  padding-left: 26px;
}


}
