<div class="appt-content content" data-ng-app="pocketSOHO">

    <div class="container" ng-controller="appointmentsController">
            <h3 class="content-title"><%= image_tag "schedule02.svg", alt: 'Scheduling Icon', id: "appticon"%><u>My Appointments</u></h3>

      <div class="new-chat row">
          <div class="col-md-8 col-sm-push-3 col-sm-8 col-sm-push-2">
        <!-- <div class="col-md-8"> -->
            <%= link_to appointments_calendar_path, class: 'new-ms'  do %>
              <i class="fa fa-calendar"> Calendar View</i>
            <% end %>
          </div>
          <div class="col-md-8 col-sm-push-3 col-sm-8 col-sm-push-2">
          <!-- <div class="col-md-8"> -->
            <form class="mainnav-form pull-right" role="search">
            <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search names"  ng-model="apptSearchWords">
            <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
        </form>
        </div>

      </div>

      <div class="row">

         <!-- <div class="col-md-8"> -->
         <div class="col-md-8 col-sm-push-3 col-sm-8 col-sm-push-2">
          <section class="demo-section" ng-repeat="date in apptDates">
            <h4 class="appt-title content-title">
                  <u>{{date}}</u>
            </h4>
            <div class="portlet">
              <div class="portlet-body">
                <table class="table table-striped table-bordered" id="table-2" ng-style=" { 'display': noResults(date, apptSearchWords) }">
                  <thead>
                    <tr>
                      <th style="width: 15%">Date</th>
                      <th style="width: 15%">Time</th>
                      <th style="width: 40%">Clients</th>
                      <th style="width: 15%">Rate</th>
                      <th style="width: 15%">Edit</th>
                    </tr>
                    <tbody ng-repeat="appt in appointments | filter: apptSearchWords ">
                        <tr ng-if="appt.readable_date == date ">
                            <td>
                             <div class="date-appt">{{appt.formatted_date}}</div>
                           </td>
                           <td>
                             <div class="time-appt">{{appt.formatted_time}}</div>
                           </td>
                           <td>
                             <div class="client-appt">
                                <a href="/appointments/{{appt.id}}">
                                  Appointment with {{appt.biz_name}} | {{appt.client_name}}
                                </a>
                             </div>
                           </td>
                           <td>
                             <div class="rate-appt">${{appt.amt}}</div>
                           </td>
                           <td>
                             <div class="edit-appt">
                                  <a href="/appointments/{{appt.id}}/edit">
                                    <i class="fa fa-edit"><strong>EDIT</strong></i>
                                  </a>
                            </div>
                           </td>
                        </tr>
                    </tbody>
                  </thead>
                </table>
              </div>
            </div>

          </section>

                <div class="row">
                  <div class="pull-right page-right">
                    <ul class="pagination">
                      <li>
                        <a href="#">Previous</a>
                      </li>
                      <li>
                        <a href="#">1</a>
                      </li>
                      <li>
                        <a href="#">2</a>
                      </li>
                      <li>
                        <a href="#">3</a>
                      </li>
                      <li>
                        <a href="#">4</a>
                      </li>
                      <li>
                        <a href="#">5</a>
                      </li>
                      <li>
                        <a href="#">Next</a>
                      <li>
                    </ul>
                  </div>
                </div>

        </div> <!-- /.col -->

      </div> <!-- /.row -->

      <br><br>


    </div> <!-- /.container -->

  </div> <!-- .content -->

  <%= javascript_include_tag "main", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "appointments", "data-turbolinks-track" => true %>
