<div class="newmessage-content content">

    <div class="container">

      <h2>Thanks for your payment! Click <%= link_to "here", root_path %> to go back home.</h2>

    </div> <!-- /.container -->



  </div> <!-- .content -->
