<div id="user-nav-bar">
  <% if @user %>
    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
    <% end %>
    <a href="#"><i class="fa fa-calendar"></i></a>
    <%= link_to user_messages_path(@user.id) do %>
      <i class="fa fa-envelope-o"></i>
    <% end %>
    Hello, <%= @user.first_name %>
    <%= link_to 'Log Out', session_path(session.id), method: :delete %>
  <% end %>
</div>
